@import url("../fonts/Vazirmatn-font-face.css");

* {
    font-family: Vazirmatn, Tahoma, serif !important;
}

body,
html,
button,
input {
    font-family: Vazirmatn, Tahoma, serif !important;
}

@media (min-width: 80em) {
  .archive {
    padding-right: 10px;
    padding-inline-end: 10px;
  }

  .page {
    padding-inline-end: 10px;
  }
}

@media (min-width: 64em) {
  .archive {
    padding-right: 10px;
    padding-inline-end: 10px;
  }

  .page {
    padding-inline-end: 10px;
  }
}

.list__item .archive__item a {
  text-decoration: none !important;
}

.e-content p img,
.e-content img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
